* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*variavel criada para deixar o site no modo original */
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --hightlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

/*variavel criada para alterar a parte visual do site no modo light */
.light {
  /*variavel criada para deixar o texto black no modo light */
  --text-color: black;
  /*variavel criada para alterar o fundo no modo light */
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --hightlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  /*

  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position:top center;
  background-size: cover;
  */
  /*background: color image repeat position/size */
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 360px; /* definindo a largura do bloco*/
  margin: 80px auto 0px; /* definindo a posicao do bloco*/
  padding: 0px 24px; /* preenchimento interno do bloco */
}

#profile {
  text-align: center; /* Centralizando o bloco profile que neste caso tratase de uma imagem(ou seja display inline) 
  com este comando centralizando a imagem dentro do bloco*/

  padding: 24px;
}

#profile img {
  width: 112px;
  border-radius: 50%;
}

#profile p {
  font-weight: 400; /* definindo o quao em negrito fica a frase*/
  line-height: 24px; /* definindo a distancia da frase para a imagem de perfil*/
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

/* Switch */

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center; /* neste comando inseri a imagem de fundo do botao */
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.light #switch button {
  right: 0;
  left: initial;
}

/* Estilizando Botao que fica no fundo so sol*/
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
}

/* LINKS */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 26px 0;
}
ul li a {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 18px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;
}

/* quando mouseu for passado por cima dos botoes */

ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* LINKS */

#social-links {
  /*alinhando os links */

  display: flex;
  justify-content: center;

  padding: 15px 0;
  font-size: 24px;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}
#social-links a:hover {
  background: var(--hightlight-color);
}
